<ul>
  <li><span aria-hidden="true" class="icon-github"></span><a href="https://github.com/ongmingyang">Github</a></li>
  <li><span aria-hidden="true" class="icon-outgoing"></span><a href="https://launchpad.net/~mingy">Launchpad</a></li>
  <li><span aria-hidden="true" class="icon-linkedin"></span><a href="https://www.linkedin.com/in/ongmingyang">LinkedIn</a></li>
  <li><span aria-hidden="true" class="icon-facebook"></span><a href="https://www.facebook.com/mingyang.ong">Facebook</a></li>
<p>Others:</p>
  <li><span aria-hidden="true" class="icon-outgoing"></span><a href="http://maca.ws">maca.ws</a></li>
  <li><span aria-hidden="true" class="icon-outgoing"></span><a href="http://sudok.in">sudok.in</a></li>
</ul>
